* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: relative;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.home-content {
    margin: 40px 0 70px 0;
}

#navbar-expand-lg {
    position: relative;
}

.navbar-nav li {
    padding: 0 10px;
    position: relative;
}

.navbar-light {
    position: relative;
}

.bg-light {
    position: relative;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

.navbar-nav li a {
    float: right;
    text-align: right;
    position: relative;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
    position: relative;
}

.navbar {
    background: #fff;
    position: relative;
}

.navbar-toggler {
    border: none!important;
    position: relative;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

#slider {
    width: 100%;
    position: relative;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-item {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8 !important;
    background-size: cover;
    height: 100%;
    background-size: 100% 100%;
    position: relative;
    transition-duration: 3s;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.d-block {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-fluid {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption h1 {
    color: white;
    font-style: bold;
    font-size: 42;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    background: url(https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat;
    background-size: cover;
    margin-bottom: -3px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: "bold";
    font-size: "24";
}

h2 {
    text-align: center;
}

.col-md-6 {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.col-md-5 {
    padding: 40px 50px 40px 50px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content {
    font-weight: "bold";
    font-size: "24";
}

body {
    font-weight: "bold";
    font-size: "24";
}

#publications {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img6.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#publications h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#publications h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.portfolio-row {
    margin: 30px 30px 30px 30px;
}

.text-center {
    text-align: center!important;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.title-linkk {
    color: #2FDEDB;
}

.project-des {
    font-size: 14px;
    min-height: 62px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.p-0 {
    padding: 0!important;
}

.container {
    min-height: 100%;
    min-width: 100%;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolio-img {
    width: 80%;
    height: 500px;
    border: 2px solid rgba(44, 130, 201, 1);
    padding: 5px 5px 5px 5px;
}


img {
    vertical-align: middle;
    border-style: none;
}

.d-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img1.jpg);
}

#certs h1 {
    text-align: center;
    color: black !important;
    padding-bottom: 10px;
}

#certs h1::after {
    content: '';
    background: blue;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.img-responsive {
    width: 85%;
    height: 300px;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
}

.portfolio-btn {
    margin: 10px 0 10px 0;
    background-color: #2FDEDB;
    color: #FFFFFF;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    /* Green */
}

.button {
    border-radius: 0!important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: white;
}

.button {
    transition-duration: 0.4s;
    color: blue;
}

.button:hover {
    background-color: #00008B;
    /* Green */
    color: white;
}

.button {
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #2FDEDB;
    border-radius: 0!important;
    width: 100px;
}

.abc {
    margin-right: auto!important;
}
